*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.darkimg{
    filter: brightness(40%);
}

main{
    height: 100%;
    background-color: #1D0924;
}




.NavBar{
    width: 100%;
    height: 5.75vw;
    background-image: linear-gradient(#5406B9, #260353);
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 3;
}
.Container{
    width: 70%;
    height: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Bar{
    width: 50px;
    height: 10px;
    margin-bottom: 7px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.NotBurger{
    margin-right: 1vw;
    display: flex;
    flex-direction: row;
    gap: 3.5vw;
}
.NotBurger > a{
    font-size: 1.1vw;
    text-decoration: none;
    color: white;
}
.Brand{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25vw;
}
.Brand1{
    height: 3.9vw;
}
.Brand2{
    color: white;
    font-size: 2vw;
}
.Brand3{
    color: black;
    font-size: 2vw;
}

.Section1PC{
    width: 100%;
    margin-top: 5.5vw;
    height: 100%;
    min-height: max-content;
    max-height: max-content;
    background-color: #1D0924;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Header{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 12.6vw;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.HeaderText{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1.56vw;
}
.HeaderText > h1{
    background-image: linear-gradient(#FFFFFF, #80195A);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 6vw;
}
.HeaderText > h2{
    color: white;
    font-size: 1.5vw;
    font-weight: normal;
}
.LearnMore{
    width: 15vw;
    background-color: #D9D9D9;
    border: 1px solid #D9D9D9;
    border-radius: 7vw;
    justify-self: center;
    padding: 0.5vw;
}
.LearnMore > span{
    color: black;
    font-size: 1.25vw;
}








.Section2{
    margin-top: 3.44vw;
    width: 100%;
    height: 72.5vw;
    background-image: linear-gradient(#110B13, #753E88);
    overflow: hidden;
}



.WeeklyRewardsTab{
    position: relative;
    top: 0;
    width: 100vw;
    height: 33vw;
    min-height: max-content;
    max-height: max-content;
}
.WeeklyRewardsTab > .TopBG{
    position: absolute;
    top: 0;
    left: 38.5vw;
    width: 100%;
    height: 27vw;
    background-color: #39007B;
    transform: skew(33deg);
}
/*____ distance*/
.WeeklyRewardsTab > .BodyBG{
    position: absolute;
    overflow: hidden;
    top: 6vw;
    left: 42.4vw;
    width: 100%;
    height: 27vw;
    background-color: rgb(217, 217, 217);
    transform: skew(33deg);
    box-shadow: 1.5vw -1.5vw 0.5vw 0 rgb(217, 217, 217) inset,  0 2vw 0.5vw 0 rgba(147, 147, 147) inset;
}
.GoldBG{
    position: absolute;
    transform: skew(-33deg);
    width: auto;
    height: 20vw;
    top: 1.2vw;
    left: -3.4vw;
    filter: drop-shadow(1vw 1vw 0.1vw rgba(147, 147, 147));
}
.GoldFG{
    position: absolute;
    top: 7.2vw;
    left: 37.5vw;
    width: auto;
    height: 20vw;
}
.WeeklyRewardsContent{
    position: absolute;
    right: 0;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.WeeklyRewardsHeader > h1{
    height: 6vw;
    display: flex;
    align-items: center;
    background-image: linear-gradient(#F5FEFF, #14DFEC);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 2.5vw;   
}
.WeeklyRewardsText{
    margin-top: 4.5vw;
    margin-left: calc(32vw + 60px);
    font-size: 1.25vw;
    text-overflow: ellipsis;
    width: 23vw;
    color: black;
}
span > span{
    color: red;
}



.MiniTournamentTab{
    position: relative;
    top: -16.5vw;
    width: 100%;
    height: 31.5vw;
}
.MiniTournamentTab > .TopBG{
    position: absolute;
    top: 0;
    right: 53vw;
    width: 100%;
    height: 26vw;
    background-color: #39007B;
    transform: skew(33deg);
    z-index: 2;
}
.MiniTournamentTab > .BodyBG{
    position: absolute;
    top: 5.5vw;
    right: 49.5vw;
    width: 100%;
    height: 26vw;
    background-color: #D9D9D9;
    transform: skew(33deg);
    z-index: 2;
    box-shadow: 0 2vw 0.5vw 0 rgba(147, 147, 147) inset;
}
.Tourney1{
    position: absolute;
    top: -20vw;
    left: 1vw;
    width: auto;
    height: 33vw;
    transform: rotate(-1deg);
    z-index: 1;
}
.Tourney2{
    position: absolute;
    top: 12.5vw;
    left: 34vw;
    height: 19.5vw;
    z-index: 2;
}
.MiniTournamentContent{
    position: absolute;
    top: 0;
    width: 41.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}
.MiniTournamentHeader > h1{
    height: 5.5vw;
    display: flex;
    align-items: center;
    background-image: linear-gradient(#FFFFFF, #DFF268);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 2.5vw;   
}
.MiniTournamentText{
    margin-top: 3.5vw;
    width: 26vw;
    font-size: 1.2vw;
    text-align: center;
    text-overflow: ellipsis;
    color: black;
}



.AndMoreTab{
    position: relative;
    top: -29vw;
    width: 100%;    
    height: 29vw;
}
.AndMoreTab > .TopBG{
    position: absolute;
    top: 0;
    left: 58.25vw;
    width: 100%;
    height: 23vw;
    background-color: #39007B;
    transform: skew(25deg);
}
.AndMoreTab > .BodyBG{
    position: absolute;
    top: 6vw;
    left: 61vw;
    width: 100%;
    height: 23vw;
    background-color: #D9D9D9;
    transform: skew(25deg);
    box-shadow: 0 2vw 0.5vw 0 rgba(147, 147, 147) inset;
}
.AndMore1{
    position: absolute;
    right: 0;
    bottom: -12.5vw;
    width: 12vw;
}
.AndMore2{
    position: absolute;
    left: 0;
    bottom: -8vw;
    width: 60vw;
}
.AndMoreContent{
    position: absolute;
    top: 0;
    right: 0;
    width: 55%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.AndMoreHeader > h1{
    height: 6vw;
    display: flex;
    align-items: center;
    background-image: linear-gradient(#E303DA, #FFFFFF);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 2.5vw;
}
.AndMoreText{
    margin-top: 2.5vw;
    margin-left: 18vw;
    text-align: center;
    width: 28.8vw;
    font-size: 1.2vw;
}






.Section3{
    height: 56.25vw;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(#51006E, #16071C);
}
.SmallTriangle{
    position: absolute;
    left: -1.25vw;
    top: -17vw;
    height: 0;
    width: 0;
    border-left: 25px solid transparent;
    border-right: 10.5vw solid transparent;
    border-bottom: 17vw solid #50006D;
}
.JoinNowTab{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 65%;
    gap: 2vw;
}
.JoinNowText *{
    text-align: center;
    font-size: 3.7vw;
}
.JoinNowText > span{
    color: white;
    display: block;
}
.JoinNow1{
    color: #F80606;
}
.JoinNow2{
    color: #18F020;
}
.JoinNow3{
    color: #15F0BC;
}
.JoinNowButton{
    height: 3.5vw;
    width: 17vw;
    border: 0;
    border-radius: 10vw;
    background-image: linear-gradient(#270437, #3E0658);
    align-self: center;
    
}
.JoinNowButton > p{
    color: white;
    font-size: 1.2vw;
}





.Section4{
    width: 100%;
    height: 34.5vw;
    display: flex;
    flex-direction: column;
}
.FooterBar{
    width: 100%;
    height: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    background-color: #34173F;
}
.FooterBar > a *{
    font-size: 1.4vw;
    color: white;
}
.FooterBody{
    width: 100%;
    height: calc(100% - 7vw);
    background-image: linear-gradient(#0F0021, #5406B9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}
.FooterIcons{
    display: flex;
    flex-direction: row;
    gap: 1.75vw;
}
.FooterIcons > img{
    width: 3.25vw;
}
.FooterLogo{
    display: flex;
    flex-direction: row;
    gap: 3.5vw;
    align-items: center;
}
.FooterLogo > h1{
    font-size: 2.25vw;
}
.FooterLogo > img{
    width: 5vw;
    height: 5vw;
}
.FooterText > p{
    width: 60vw;
    color: #9B9B9B;
    font-size: 1.1vw;
    text-align: center;
}
















.Section1Android{
    width: 100%;
    overflow: hidden;
    margin-top: 10vh;
    height: 90vh;
    min-height: fit-content;
    background-color: #1D0924;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}





@media only screen and (max-width: 1000px){/*Android*/
    .Section1Android{
        display: flex;
    }
    .Section1PC{
        display: none;
    }
    .Burger{
        display: initial;
    }
    .NotBurger{
        display: none;
    }
    .Header{
        flex-direction: column;
        gap: 3vw;
    }
    .LearnMore{
        width: 30vw;
    }
}

@media only screen and (min-width: 1000px){/*PC*/
    .Section1PC{
        display: flex;
    }
    .Section1Android{
        display: none;
    }
    .Burger{
        display: none;
    }
    h1{
        font-size: 6vw;
    }
    h2{
        font-size: 2vw;
    }
}